body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.javaScript>h1 {
    font-size: 32px;
    text-align: center;
    font-weight: 600;
}

.javaScript>p {
    font-size: medium;
    font-family: sans-serif;
    text-align: center;
    font-weight: normal;
}

.javaScript_box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
    height: auto;
}

.javaScript {
    width: 180px;
    height: 100%;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(240, 248, 255, 0.068);
    margin: 10px;
    padding: 25px;
    box-shadow: 0px 0px 50px -3px rgba(0, 0, 0, 0.0);
}

.javaScript:hover {
    color: black;
    background-color: yellow;
    box-shadow: 0px 0px 50px -3px #808080c1;
}

/* CSS for the loading effect */
.javaScript-loading {
    animation: fadeIn 1s ease-in-out;
    opacity: 0;
    /* Loading color */
    background-image: linear-gradient(45deg, #171717 1%, #0c0c0c 100%);
    background-size: 200% 100%;
    animation: dualColorAnimation 2s ease-in-out infinite;
}

@keyframes dualColorAnimation {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.javaScript-loaded {
    animation: fadeOut 0.5s ease-in-out;
    opacity: 1;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}